// Place all the styles related to the Estados controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$height-componente: 50px;
$width-componente: 300px;
$radio: 3px;

h1{
  font: bold 30px Helvetica, Sans-serif;
}

*{
  font: bold 20px Helvetica, Sans-serif;
  letter-spacing: 2px;
}

a{
  text-decoration:none;
  color: #29602C;
}
a:hover{
  color:#59A96A;
}

.show-id {
  position:fixed;
  padding-left:20px;
}

.footer {
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 50px;
  background: #B3B3B3;

  display:flex;
  justify-content: center;
  align-items: center;

  letter-spacing:3px;
}

$width: 950px;
$height: 600px;
.procesador {
  position: relative;
  top: 30px;
  left: 30px;
  width: $width;
  height: $height;
  border: 5px solid #004080;
  border-radius:2px;
}

$border-comp: 3px;

.componente {
  position: absolute;

  border: $border-comp solid #999999;
  border-radius: $radio;
  height: $height-componente;
  width: $width-componente;

}

.componente h5{
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -180%);

}

@keyframes comp-encendido{
  from { background-color:white;
        color:black}
  to { background-color: #262626;
        color:white; }
}

.encendido {
  animation-name: comp-encendido;
  animation-duration: 0.5s;

  background-color: #262626;
  color:white;
}


$l-ac: 500px;
$t-ac: 100px;
.acumulador {
  left: $l-ac;
  top: $t-ac;
}

$t-ir:300px;
$l-ir: $l-ac;
.IR {
  left: $l-ir;
  top: $t-ir;
}

$t-pc: 500px;
$l-pc: $l-ac;
.PC {
  left: $l-pc;
  top: $t-pc;
}

$t-mar: ($t-pc - $t-ir)/2 + $t-ir;
$l-mar: $l-ac + 200;
$width-mar: $width-componente - (1/3)*$width-componente;
.MAR {
  left: $l-mar;
  top: $t-mar;
  width: $width-mar;
}

$l-alu: 100px;
$l-decode: $l-alu;
$t-decode: $t-ir;
.decode {
  left: $l-decode;
  top: $t-decode;
}


/* ------------ ALU ------------ */
$t-alu: 100px;
.alu-text{
  position: absolute;
  z-index:3;
  left: $l-alu + 90;
  top: $t-alu + 10;
}

$width-alu: 140px;
.ALU {
  position:absolute;
  z-index:2;
  border-left: 40px solid transparent;
  border-right: 40px solid transparent;
  border-top: 100px solid #D6D6D6;

  height: 0;
  width: $width-alu;

  left: $l-alu;
  top: $t-alu;
}

.ALU.alu-on {
  border-left: 40px solid transparent;
  border-right: 40px solid transparent;
  border-top: 100px solid #71C879;
}

/* --------- EXTERNOS ----------- */
$aux:7;
$l-ext: $width+50;

.memoriain{
  position: absolute;
  top: $t-ac - $height-componente/2 + $aux;
  left: $l-ext;
}

$height-registerout: 75px;
.registerout{
  position: absolute;
  top: $t-ac + $height-registerout + $aux;
  left: $l-ext;
}

.addresout{
  position:absolute;
  top: $t-mar - $height-componente/2 + $aux;
  left: $l-ext;
}

.write-signal{
  position:absolute;
  top: $t-pc - $height-componente/2 ;
  left: $l-ext;
}
.write-signal.off{
  color:#969696
}

/* ---------- LINEAS ----------- */

$ancho:3px;
$ancho-e:4px;
$on: #63CC57;
$off: black;

$width-l-memoriain: $width - $l-ir - $width-componente - 100;
$dist-ext:140px;

.interseccion{
  position: absolute;
  top: $t-ac + $height-componente/2 - $border-comp ;
  left: $l-ir + $width-componente + $width-l-memoriain;
  width: 3*$border-comp;
  height: 3*$border-comp;
  border-radius: 50%;
  background-color:$off;
}
.interseccion.on{
  top: $t-ac + $height-componente/2 - (3/2)*$border-comp ;
  left: $l-ir + $width-componente + $border-comp + $width-l-memoriain - (3/2)*$border-comp;
  width: 4*$border-comp;
  height: 4*$border-comp;
  background-color:$on;
}

@keyframes l-on{
  from {

  }
}


.l-memoriain{
  position:absolute;
  top: $t-ac + $height-componente/2;
  left: $l-ac + $width-componente + $width-l-memoriain;
  width: $dist-ext;
  height:10px;
  border-top: $ancho solid $off;
}
.l-memoriain.l-on{
  border-top: $ancho-e solid $on;
}


.l-memoriain-acumulador {
  position: absolute;
  top: $t-ac+$height-componente/2;
  left: $l-ir + $width-componente + $width-l-memoriain;
  left: $l-ac + $width-componente + $border-comp;
  width: $width-l-memoriain;
  height:10px;
  border-top: $ancho solid $off;
}
.l-memoriain-acumulador.l-on {
  border-top: $ancho-e solid $on;
}


.l-memoriain-ir{
  position: absolute;
  top: $t-ac + $height-componente/2;
  left: $l-ir + $width-componente + $border-comp;
  width: $width-l-memoriain;
  height: $t-ir - $t-ac;
  border-bottom: $ancho solid $off;
  border-right: $ancho solid $off;
}
.l-memoriain-ir.l-on{
  border-bottom: $ancho-e solid $on;
  border-right: $ancho-e solid $on;
}


$l-topmax: (0.05)*$height;
.l-memoriain-alu{
  position:absolute;
  top: $l-topmax;
  left: $l-alu + (1/2)*$width-alu;
  width: $l-ac + $width-componente + $width-l-memoriain - $l-alu - (1/2)*$width-alu;
  height: $t-ac + $height-componente/2 -$l-topmax;
  border-left: $ancho solid $off;
  border-top: $ancho solid $off;
  border-right: $ancho solid $off;
}
.l-memoriain-alu.l-on{
  border-left: $ancho solid $on;
  border-top: $ancho-e solid $on;
  border-right: $ancho-e solid $on;
}


.l-acumulador-registerout{
  position:absolute;
  top: $t-ac+$height-componente+2*$border-comp;
  left: $l-ac+(2/3)*$width-componente;
  width: (1/3)*$width-componente + $width-l-memoriain + $dist-ext;
  height: $height-registerout;
  border-left: $ancho solid $off;
  border-bottom: $ancho solid $off;
}
.l-acumulador-registerout.l-on{
  border-left: $ancho-e solid $on;
  border-bottom: $ancho-e solid $on;
}


.l-acumulador-alu{
  position:absolute;
  $top: $l-topmax + 30;
  top: $top;
  $left: $l-alu + $width-alu;
  left: $left;
  width: $l-ac + (1/3)*$width-componente - $left;
  height: $t-ac - $top - $border-comp;
  border-left: $ancho solid $off;
  border-top: $ancho solid $off;
  border-right: $ancho solid $off;
}
.l-acumulador-alu.l-on{
  border-left: $ancho solid $on;
  border-top: $ancho-e solid $on;
  border-right: $ancho-e solid $on;
}


.l-ir-decode{
  position:absolute;
  top:$t-ir +$height-componente/2;
  left:$l-decode + $width-componente + $border-comp;
  width: $l-ir - $l-decode - $width-componente - $border-comp;
  height: 10px;
  border-top: $ancho solid $off;
}
.l-ir-decode.l-on{
  border-top: $ancho-e solid $on;
}


.l-ir-pc{
  position:absolute;
  top: $t-ir + $height-componente + 2*$border-comp;
  left: $l-ir + (1/4)*$width-componente;
  width:10px;
  height: $t-pc - $t-ir - $height-componente - $border-comp;
  border-left: $ancho solid $off;
}
.l-ir-pc.l-on{
  border-left: $ancho-e solid $on;
}


.l-ir-mar{
  position:absolute;
  top: $t-ir + $height-componente + 2*$border-comp;
  left: $l-ir + (1/2)*$width-componente;
  width: $width-componente/2 - $width-mar/2;
  height: $t-mar - $t-ir - (3/4)*$height-componente - $border-comp  ;
  border-left: $ancho solid $off;
  border-bottom: $ancho solid $off;
}
.l-ir-mar.l-on{
  border-left: $ancho-e solid $on;
  border-bottom: $ancho-e solid $on;
}


.l-pc-mar{
  position:absolute;
  $top: $t-mar + (3/4)*$height-componente;
  top: $top;
  $left:$l-ir + (1/2)*$width-componente;
  left: $left;
  width: $l-mar - $left;
  height: $t-pc - $top -$border-comp;
  border-left: $ancho solid $off;
  border-top: $ancho solid $off;
}
.l-pc-mar.l-on{
  border-left: $ancho-e solid $on;
  border-top: $ancho-e solid $on;
}


.l-mar-addressout{
  position: absolute;
  top: $t-mar + $height-componente/2;
  left: $l-mar + $width-mar + 2*$border-comp;
  width: $l-ext - $l-mar - $width-mar - 4*$border-comp;
  height: 0px;
  border-top: $ancho solid $off;
}
.l-mar-addressout.l-on{
  border-top: $ancho-e solid $on;
}


.l-alu-acumulador{
  position:absolute;
  $top: $t-ac + $height-componente;
  top: $top + $border-comp;
  $left:$l-alu + 110;
  left: $left;
  width: $l-ac + (1/3)*$width-componente -$left;
  height: $height-registerout + 2*$border-comp;
  border-left: $ancho solid $off;
  border-bottom: $ancho solid $off;
  border-right: $ancho solid $off;
}
.l-alu-acumulador.l-on{
  border-left: $ancho solid $on;
  border-bottom: $ancho-e solid $on;
  border-right: $ancho-e solid $on;
}

